<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"

      th:replace="~{fragments/layout :: layout (~{::body},'contact')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="main" class="main-content" style="color: whitesmoke">
    <div class="wrapper grid-wrapper">

        <div id="content" class="column" role="main">
            <a id="main-content"></a>



            <article class="node-160316 node node-list view-mode-full clearfix">


                <div class="field-collection-container clearfix">    <div class="field field-name-field-manual-listing field-type-field-collection field-label-hidden " >
                    <div class="field-collection-view clearfix view-mode-full"><div class="entity entity-field-collection-item field-collection-item-field-manual-listing clearfix">
                        <div class="content">
                            <h2 class="list-field-collection-title" >
                                General Information            </h2>
                            <div class="field field-name-field-list-item field-type-entityreference field-label-hidden " >
                                <article class="manual-curated-list-item node node-office-location view-mode-manual_curated_list clearfix">

                                    <h3 class="mcl-title">
                                        <a href="/learning-and-resources/support-centers/uspto-contact-center-ucc">
                                            USPTO Contact Center (UCC)      </a>
                                    </h3>





                                    <div class="field field-name-field-contact field-type-entityreference field-label-hidden office-contact-options" >

                                        <div class="field field-name-field-phone-number-toll-free field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Toll-Free:          </span>
                                            <span class="" >
              800-786-9199            </span>
                                        </div>
                                        <div class="field field-name-field-phone-number-local field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Local:          </span>
                                            <span class="" >
              571-272-1000            </span>
                                        </div>
                                        <div class="field field-name-field-phone-number-tty field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          TTY:          </span>
                                            <span class="" >
              800-877-8339            </span>
                                        </div>
                                    </div>

                                    <div class="mcl-body-summary">
                                        <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                            For general information, mailing addresses, Internet addresses, USPTO.gov accounts, how to use the online fee payment management system and contact information for other USPTO services. General Support is available Monday through Friday from 8:30 a.m. to 8 p.m. ET (except federal holidays).            </p>
                                    </div>

                                </article>
                                <article class="manual-curated-list-item node node-office-location view-mode-manual_curated_list clearfix">

                                    <h3 class="mcl-title">
                                        <a href="/learning-and-resources/support-centers/assignments-recordation-branch-arb">
                                            Assignments Recordation Branch (ARB)      </a>
                                    </h3>





                                    <div class="field field-name-field-contact field-type-entityreference field-label-hidden office-contact-options" >

                                        <div class="field field-name-field-phone-number-local field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Local:          </span>
                                            <span class="" >
              571-272-3350            </span>
                                        </div>
                                        <div class="field field-name-field-fax-number field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Fax:          </span>
                                            <span class="" >
              571-273-0140            </span>
                                        </div>
                                    </div>

                                    <div class="mcl-body-summary">
                                        <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                            For help with following a new assignment or obtaining information on a pending assignment, questions on assignments, liens on patents, filing assignments, recordation forms, and trademark assignments.            </p>
                                    </div>

                                </article>
                                <article class="manual-curated-list-item node node-office-location view-mode-manual_curated_list clearfix">

                                    <h3 class="mcl-title">
                                        <a href="/learning-and-resources/support-centers/patent-and-trademark-copy-fulfillment-branch">
                                            Patent and Trademark Copy Fulfillment Branch      </a>
                                    </h3>





                                    <div class="field field-name-field-contact field-type-entityreference field-label-hidden office-contact-options" >

                                        <div class="field field-name-field-phone-number-toll-free field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Toll-Free:          </span>
                                            <span class="" >
              800-972-6382            </span>
                                        </div>
                                        <div class="field field-name-field-phone-number-local field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Local:          </span>
                                            <span class="" >
              571-272-3150            </span>
                                        </div>
                                        <div class="field field-name-field-fax-number field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Fax:          </span>
                                            <span class="" >
              571-273-3250            </span>
                                        </div>
                                    </div>

                                    <div class="mcl-body-summary">
                                        <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                            Copies of official U.S. Patent and U.S. Trademark documents are available for sale from the Patent and Trademark Copy Fulfillment Branch.            </p>
                                    </div>

                                </article>
                                <article class="manual-curated-list-item node node-office view-mode-manual_curated_list clearfix">

                                    <h3 class="mcl-title">
                                        <a href="/about-us/organizational-offices/office-chief-communications-officer">
                                            Office of the Chief Communications Officer      </a>
                                    </h3>





                                    <div class="field field-name-field-contact field-type-entityreference field-label-hidden office-contact-options" >

                                        <div class="field field-name-field-phone-number-local field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Local:          </span>
                                            <span class="" >
              571-272-8400            </span>
                                        </div>
                                        <div class="field field-name-field-fax-number field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Fax:          </span>
                                            <span class="" >
              571-273-0340            </span>
                                        </div>
                                    </div>

                                    <div class="mcl-body-summary">
                                        <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                            The Office of the Chief Communications Officer manages the USPTO's public affairs function and coordinates a wide variety of internal and external communications.            </p>
                                    </div>

                                </article>
                                <article class="manual-curated-list-item node node-page view-mode-manual_curated_list clearfix">

                                    <h3 class="mcl-title">
                                        <a href="/about-us/contact-us/e-mail-us">
                                            Email us      </a>
                                    </h3>






                                    <div class="mcl-body-summary">
                                        <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                            We can provide general information and assistance via email.            </p>
                                    </div>

                                </article>
                                <article class="manual-curated-list-item node node-office view-mode-manual_curated_list clearfix">

                                    <h3 class="mcl-title">
                                        <a href="/about-us/organizational-offices/office-chief-financial-officer/office-finance/receipts-accounting-2">
                                            Receipts Accounting Division      </a>
                                    </h3>





                                    <div class="field field-name-field-contact field-type-entityreference field-label-hidden office-contact-options" >

                                        <div class="field field-name-field-phone-number-local field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Local:          </span>
                                            <span class="" >
              571-272-6500            </span>
                                        </div>
                                        <div class="field field-name-field-fax-number field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Fax:          </span>
                                            <span class="" >
              571-273-6500            </span>
                                        </div>
                                        <div class="field field-name-field-email field-type-email field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Email:          </span>
                                            <span class="" >
              <a href="mailto:RADHelpdesk@uspto.gov ">RADHelpdesk@uspto.gov </a>            </span>
                                        </div>
                                    </div>

                                    <div class="mcl-body-summary">
                                        <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                            The Receipts Accounting Division serves as the central coordinator for fees processed throughout the USPTO.            </p>
                                    </div>

                                </article>
                            </div>
                        </div>
                    </div>
                    </div>                        <div class="field-collection-view clearfix view-mode-full"><div class="entity entity-field-collection-item field-collection-item-field-manual-listing clearfix">
                    <div class="content">
                        <h2 class="list-field-collection-title" >
                            Patents            </h2>
                        <div class="field field-name-field-list-item field-type-entityreference field-label-hidden " >
                            <article class="manual-curated-list-item node node-page view-mode-manual_curated_list clearfix">

                                <h3 class="mcl-title">
                                    <a href="/patent/contact-patents">
                                        Contact Patents      </a>
                                </h3>






                                <div class="mcl-body-summary">
                                    <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                        Provides contact information for all stages of the patent process including the Patent Electronic Business Center, the Inventors Assistance Center, Office of Patent Legal Administration, and other Patents assistance services.            </p>
                                </div>

                            </article>
                            <article class="manual-curated-list-item node node-office-location view-mode-manual_curated_list clearfix">

                                <h3 class="mcl-title">
                                    <a href="/learning-and-resources/support-centers/inventors-assistance-center-iac">
                                        Inventors Assistance Center      </a>
                                </h3>





                                <div class="field field-name-field-contact field-type-entityreference field-label-hidden office-contact-options" >

                                    <div class="field field-name-field-phone-number-toll-free field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Toll-Free:          </span>
                                        <span class="" >
              800-786-9199            </span>
                                    </div>
                                    <div class="field field-name-field-phone-number-local field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Local:          </span>
                                        <span class="" >
              571-272-1000            </span>
                                    </div>
                                    <div class="field field-name-field-phone-number-tty field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          TTY:          </span>
                                        <span class="" >
              800-877-8339            </span>
                                    </div>
                                </div>

                                <div class="mcl-body-summary">
                                    <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                        The Inventors Assistance Center provides patent information and services to the public. It is staffed by experienced patent professionals who can answer general questions concerning patent examining policy and procedure.            </p>
                                </div>

                            </article>
                            <article class="manual-curated-list-item node node-office-location view-mode-manual_curated_list clearfix">

                                <h3 class="mcl-title">
                                    <a href="/learning-and-resources/support-centers/application-assistance-unit-aau">
                                        Application Assistance Unit      </a>
                                </h3>





                                <div class="field field-name-field-contact field-type-entityreference field-label-hidden office-contact-options" >

                                    <div class="field field-name-field-phone-number-toll-free field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Toll-Free:          </span>
                                        <span class="" >
              888-786-0101            </span>
                                    </div>
                                    <div class="field field-name-field-phone-number-local field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Local:          </span>
                                        <span class="" >
              571-272-4000            </span>
                                    </div>
                                    <div class="field field-name-field-email field-type-email field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Email:          </span>
                                        <span class="" >
              <a href="mailto:HelpAAU@uspto.gov">HelpAAU@uspto.gov</a>            </span>
                                    </div>
                                </div>

                                <div class="mcl-body-summary">
                                    <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                        The staff in the Application Assistance Unit (AAU) is trained to assist with a broad range of questions and issues pertaining to pre-examination processing of patent applications by the Office of Patent Application Processing (OPAP) and the post-examination processing of patent applications by the Office of Data Management (ODM). Assistance is available Monday through Friday (except federal holidays) from 8:30 a.m. to 5 p.m. ET. 888-786-0101 (toll-free) 571-272-4000 (local)            </p>
                                </div>

                            </article>
                            <article class="manual-curated-list-item node node-office-location view-mode-manual_curated_list clearfix">

                                <h3 class="mcl-title">
                                    <a href="/learning-and-resources/support-centers/patent-cooperation-treaty-pct-helpdesk">
                                        Patent Cooperation Treaty Helpdesk      </a>
                                </h3>





                                <div class="field field-name-field-contact field-type-entityreference field-label-hidden office-contact-options" >

                                    <div class="field field-name-field-phone-number-local field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Local:          </span>
                                        <span class="" >
              571-272-4300            </span>
                                    </div>
                                </div>

                                <div class="mcl-body-summary">
                                    <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                        The Patent Cooperation Treaty (PCT) is an international agreement among intellectual property offices and intergovernmental authorities regarding the process of international patent applications. Please contact the PCT Helpdesk for questions and information concerning the PCT and filing a PCT application. Assistance is available Monday through Friday (except federal holidays) from 8:30 a.m. to 5 p.m. ET. Phone: 571-272-4300 (local)            </p>
                                </div>

                            </article>
                            <article class="manual-curated-list-item node node-office view-mode-manual_curated_list clearfix">

                                <h3 class="mcl-title">
                                    <a href="/about-us/organizational-offices/patent-trial-and-appeal-board">
                                        Patent Trial and Appeal Board      </a>
                                </h3>





                                <div class="field field-name-field-contact field-type-entityreference field-label-hidden office-contact-options" >

                                    <div class="field field-name-field-phone-number-local field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Local:          </span>
                                        <span class="" >
              571-272-9797            </span>
                                    </div>
                                    <div class="field field-name-field-fax-number field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Fax:          </span>
                                        <span class="" >
              571-273-0053            </span>
                                    </div>
                                </div>

                                <div class="mcl-body-summary">
                                    <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                        The Patent Trial and Appeal Board (PTAB) is created by statute, and includes statutory members and Administrative Patent Judges. The PTAB is charged with rendering decisions on: appeals from adverse examiner decisions, post-issuance challenges to patents, and interferences.            </p>
                                </div>

                            </article>
                            <article class="manual-curated-list-item node node-office-location view-mode-manual_curated_list clearfix">

                                <h3 class="mcl-title">
                                    <a href="/learning-and-resources/support-centers/patent-electronic-business-center">
                                        Patent Electronic Business Center      </a>
                                </h3>





                                <div class="field field-name-field-contact field-type-entityreference field-label-hidden office-contact-options" >

                                    <div class="field field-name-field-phone-number-toll-free field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Toll-Free:          </span>
                                        <span class="" >
              866-217-9197            </span>
                                    </div>
                                    <div class="field field-name-field-phone-number-local field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Local:          </span>
                                        <span class="" >
              571-272-4100            </span>
                                    </div>
                                    <div class="field field-name-field-email field-type-email field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Email:          </span>
                                        <span class="" >
              <a href="mailto:ebc@uspto.gov">ebc@uspto.gov</a>            </span>
                                    </div>
                                </div>

                                <div class="mcl-body-summary">
                                    <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                        The Patent Electronic Business Center (EBC) assists customers with filing their electronic patent application submissions via the Electronic Filing System (EFS-Web) and with the review of patent applications in Public and Private PAIR. The EBC offers support with electronic filing, eOffice Action, PatentIn and Checker, Customer Number Requests, PKI Digital Certificates, Customer Number Upload Spreadsheets, PDX requests, Fee Address Indication, PCT Associations, PatFT and AppFT Searches and Central Fax inquiries. Assistance is available Monday through Friday from 6:00 a.m. to Midnight ET (except federal holidays).            </p>
                                </div>

                            </article>
                        </div>
                    </div>
                </div>
                </div>                        <div class="field-collection-view clearfix view-mode-full field-collection-view-final"><div class="entity entity-field-collection-item field-collection-item-field-manual-listing clearfix">
                    <div class="content">
                        <h2 class="list-field-collection-title" >
                            Trademarks            </h2>
                        <div class="field field-name-field-list-item field-type-entityreference field-label-hidden " >
                            <article class="manual-curated-list-item node node-page view-mode-manual_curated_list clearfix">

                                <h3 class="mcl-title">
                                    <a href="/trademark/contact-trademarks">
                                        Contact Trademarks      </a>
                                </h3>






                                <div class="mcl-body-summary">
                                    <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                        Phone and email contact information            </p>
                                </div>

                            </article>
                            <article class="manual-curated-list-item node node-page view-mode-manual_curated_list clearfix">

                                <h3 class="mcl-title">
                                    <a href="/learning-and-resources/support-centers/trademark-assistance-center">
                                        Trademark Assistance Center      </a>
                                </h3>






                                <div class="mcl-body-summary">
                                    <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                        Assists all customers, from first-time filers to legal professionals and experienced trademark applicants and registrants            </p>
                                </div>

                            </article>
                            <article class="manual-curated-list-item node node-office view-mode-manual_curated_list clearfix">

                                <h3 class="mcl-title">
                                    <a href="/about-us/organizational-offices/trademark-trial-and-appeal-board">
                                        Trademark Trial and Appeal Board      </a>
                                </h3>





                                <div class="field field-name-field-contact field-type-entityreference field-label-hidden office-contact-options" >

                                    <div class="field field-name-field-phone-number-local field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Local:          </span>
                                        <span class="" >
              571-272-8500            </span>
                                    </div>
                                    <div class="field field-name-field-email field-type-email field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Email:          </span>
                                        <span class="" >
              <a href="mailto:TTABInfo@uspto.gov">TTABInfo@uspto.gov</a>            </span>
                                    </div>
                                </div>

                                <div class="mcl-body-summary">
                                    <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                        The Trademark Trial and Appeal Board (TTAB) hears and decides adversary proceedings involving: oppositions to the registration of trademarks, petitions to cancel trademark registrations and proceedings involving applications for concurrent use registrations of trademarks. The Board also decides appeals taken from the trademark examining attorneys' refusals to allow registration of trademarks. The TTAB Assistance Center is available for telephone and email inquiries Monday-Friday 8:30 a.m.-5:00 p.m. ET (except federal holidays).            </p>
                                </div>

                            </article>

                            <div class="field field-name-field-phone-number-toll-free field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Toll-Free:          </span>
                                <span class="" >
              800-786-9199 (option 1)            </span>
                            </div>
                            <div class="field field-name-field-phone-number-local field-type-text field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Local:          </span>
                                <span class="" >
              571-272-9250 (press 0)            </span>
                            </div>
                            <div class="field field-name-field-email field-type-email field-label-inline clearfix  label-inline" >
            <span class="field-label" >
          Email:          </span>
                                <span class="" >
              <a href="mailto:TrademarkAssistanceCenter@uspto.gov">TrademarkAssistanceCenter@uspto.gov</a>            </span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>            </div>
                </div>


            </article>
        </div>

        <aside class="sidebar sidebar-left">
            <section class="region region-sidebar-first column sidebar">
                <div id="block-uspto-fields-field-left-column-0" class="block block-uspto-fields first odd">

                    <h2 class="block__title block-title">USPTO Locations</h2>

                    <div class="entity entity-field-collection-item field-collection-item-field-left-column clearfix">
                        <div class="content">
                            <div class="field field-name-field-block-reference field-type-blockreference field-label-hidden " >
                                <div id="block-bean-uspto-locations" class="block block-bean block-bean-cultivated-node-list first odd">


                                    <div class="entity entity-bean bean-cultivated-node-list clearfix">

                                        <div class="content">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="" >
                                <article class="title_summary node node-page view-mode-title_summary">
                                    <h4><a href="/about-us/uspto-office-locations">USPTO locations</a></h4>
                                    <p>The USPTO has multiple offices located throughout the United States.</p></article>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="block-uspto-fields-field-left-column-1" class="block block-uspto-fields even">


                    <div class="entity entity-field-collection-item field-collection-item-field-left-column clearfix">
                        <div class="content">
                            <div class="" >
                                <article class="title_summary node node-page view-mode-title_summary">
                                    <h4><a href="/learning-and-resources/support-centers/patent-and-trademark-resource-centers-ptrc/ptrc-locations">PTRC locations by state</a></h4>
                                    <p>Find contact information for a Patent and Trademark Resource Center (PTRC) near you.</p></article>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="block-uspto-fields-field-left-column-2" class="block block-uspto-fields last odd">

                    <h2 class="block__title block-title">USPTO Phone Directory</h2>

                    <div class="entity entity-field-collection-item field-collection-item-field-left-column clearfix">
                        <div class="content">
                            <div class="" >
                                <article class="title_summary node node-external-resource view-mode-title_summary">
                                    <h4><a href="http://portal.uspto.gov/EmployeeSearch/">Employee Directory</a></h4>
                                    <p class="field field-name-body field-type-text-with-summary field-label-hidden " >
                                        Search for USPTO employees by name, telephone number or organization.            </p>
                                </article>
                                <article class="title_summary node node-page view-mode-title_summary">
                                    <h4><a href="/about-us/contact-us/alphabetical-list-uspto-organizations">Alphabetical list of USPTO organizations</a></h4>
                                    <p>Find contact information by organizational office.</p></article>
                                <article class="title_summary node node-page view-mode-title_summary">
                                    <h4><a href="/about-us/contact-us/find-subject-z/general-information-subject">General Information by Subject</a></h4>
                                    <p>Find contact information by Subject</p></article>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </aside>


    </div>
</div>
</body>
</html>