<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layoutSession :: layout (~{::body},'dashboard')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title>Dashboard Home Page</title>
</head>
<body>

<!-- End Navbar -->
<div class="content" style=" zoom: 90%; display:none; position: relative; top:100px; left:-10%; background-color: white; min-width: 118%; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-top-left-radius: 20px;" >
    <div class="container-fluid">

        <div class="row page-header" style="background-color: white;" >
            <h1 style=" position:relative; left:50px; right:-20px;"><b style=" position:relative; right:-20px; opacity: 1; mix-blend-mode: normal; color: rgb(0, 0, 0); font-size: 36px; font-weight: normal; font-style: normal; text-decoration: none; text-align: left; text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1.16667px; width: 597px; height: 41px; transform: rotate(0deg) translate(37px, 138px) rotate(0deg); position: relative; left:-0.5%;">eFile HOMEPAGE</b></h1>

            <div class="row page-alert" style="display: none; position: relative; top:-20%; right: -20%;" >
                <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                <span class="page-alert">
                <font siz="3" color="#8b0000">System outtage toinght from 12am to 3 am for scheduled maintenance.</font>
            </span>
            </div>

            <div class="row" style=" position: relative; top:-20%; right: -20%;" >

                <span class="page-alert">
                    <h4><font siz="5" color="#8b0000">UNDER CONSTRUCTION!!!</font></h4>
            </span>
            </div>

        </div>



        <!-- start of main page content -->
        <div class="container-fluid">

            <!-- star of row 1 -->
            <div class="row" id="dashboard-row1">
                <!--row 1 column 1 -->

                <div class="col-sm-5" style="margin-bottom: 120px; top:20%; left:0.6%;">
                    <!-- normal tables for announcements-->
                    <div class="card base-page main-page" id="filings" style="display:none;">
                        <div class="card-header card-header-primary card-header-icon" style="margin-bottom: 10px;">

                            <div class="row" style="  position: relative; left:2.0%; width:100%">
                                <div class="col-sm-4" style="position: relative; top:10px;">
                                    <h3 class="card-title"><b>FILINGS/APPLICATIONS</b> </h3>
                                </div>
                                <div class="col-sm-2" style="position: relative;right:-31.5%;">
                                    <div class="form-group" ><button  style=" margin-top: 10px; background-color: #186A04; color: white; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;" class="btn" type="button" value="New Applicaton"><span class="glyphicon glyphicon-new-window" ></span><b><a  style="text-decoration: none; color: white;" href="/application/start/?trademarkID=new"> &nbsp;&nbsp;New Applicaton&nbsp;</a></b></button></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="toolbar" style="position: relative; left:10px;" cellpadding="5" >
                                <!--        Here you can write extra buttons/actions for the toolbar      -->
                            </div>

                            <div class="" style="padding: 20px;">
                                <table id="filings-applications-table" class=" table-no-bordered table-hover" cellpadding="3" style="margin-right: 5px; margin-left: 8px;"></table>
                            </div>
                        </div>
                        <!-- end content-->
                    </div><!-- end of card div -->

                </div>
                <!--end of row 1 column 2 -->

                <div class="col-sm-5" style="margin-bottom: 120px; top:20%; left:0.6%; ">
                    <!--data tables for user actions  -->
                    <!--data tables for filings/applications -->
                    <div class="card base-page" id="actions" style="">
                        <div class="card-header card-header-primary card-header-icon">

                            <div class="row" style=" position: relative; left:2.2%;">
                                <div class="col-sm-5">
                                    <h4 class="card-title" style="position: relative; top:10px;"><b>UP COMING ACTION DUE</b></h4>
                                </div>
                                <div class="col-sm-2" style="position: relative;right:-27%;">
                                    <div class="form-group" ><select style=" min-height: 30px; min-width: 150px; position: relative; right: -10%; margin-top: 10px;  border-top-left-radius: 5px; border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;" class="select-search-dropdown-btn select-collection-btn custom-select"  value="Within 30 days">
                                        <option>Within 30 Days</option>
                                        <option>Within 60 Days</option>
                                        <option>within 120 Days</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="toolbar">
                                <!--        Here you can write extra buttons/actions for the toolbar      -->
                            </div>
                            <div class="material-datatables">
                                <table id="datatablesTrademarks" class="table  table-no-bordered table-hover" cellspacing="0" width="60%" style="width:100%; ">
                                    <thead>
                                    <tr>
                                        <th>Serial ID</th>
                                        <th >Registration ID</th>
                                        <th>Mark Text</th>
                                        <th>Owner</th>
                                        <th>Due Date</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    <tr>
                                        <td>87541256</td>
                                        <td>N/a</td>
                                        <td>VAKKER</td>
                                        <td>BAO KUN</td>
                                        <td>12/3/2018</td>
                                        <td class="text-right">

                                            <a href="#mark-preview-modal"   data-toggle="modal" data-target="#action-preview-modal" class="btn btn-link btn-warning btn-just-icon edit trademarks-view"><i class="material-icons">stars</i></a>
                                            <input style="display: none;" value="../resources/data_images/vakker.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>87663325</td>
                                        <td>87663325</td>
                                        <td>ZERO BLOG THIRTY</td>
                                        <td>Barstool Sports, Inc</td>
                                        <td>1/13/2019</td>
                                        <td class="text-right">

                                            <a href="#mark-preview-modal" data-toggle="modal" data-target="#action-preview-modal" class="btn btn-link btn-warning btn-just-icon edit trademarks-view"><i class="material-icons">stars</i></a>
                                            <input style="display: none;" value="../resources/data_images/zero30.jpg">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>87653515</td>
                                        <td>N/A</td>
                                        <td>SMART CONNECTED SECURE</td>
                                        <td>Microchip Technology Incorporated</td>
                                        <td>1/27/2020</td>
                                        <td class="text-right">

                                            <a href="#mark-preview-modal" data-toggle="modal" data-target="#action-preview-modal" class="btn btn-link btn-warning btn-just-icon edit trademarks-view"><i class="material-icons">stars</i></a>
                                            <input style="display: none;" value="../resources/data_images/micro-technology-inc.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>87452125</td>
                                        <td>N/A</td>
                                        <td>JUMP SHOES & STREETWEAR</td>
                                        <td>antonio cirillo, DBA gui.ar.lab.srls</td>
                                        <td>11/11/2018</td>
                                        <td class="text-right">

                                            <a href="#mark-preview-modal" data-toggle="modal" data-target="#action-preview-modal" class="btn btn-link btn-warning btn-just-icon edit trademarks-view"><i class="material-icons">stars</i></a>
                                            <input style="display: none;" value="../resources/data_images/coca-cola-tm.jpg">
                                        </td>
                                    </tr>



                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end content-->
                    </div><!-- end of card div -->

                </div> <!-- end of col-md-6 -->



            </div>
            <!--end of row 1 -->
            <!--start of row 2 -->
            <div class="row" id="dashboard-row2" style="display: none;">
                <!--row 2 column 1 -->

                <!-- end of row 2 column 1-->

            </div>
            <!-- end of row 2 -->





        </div>

    </div> <!-- end of container fluid -->
</div>
<!-- end of main content-->





<!--trade mark image preview modal -->
<div id="mark-preview-modal" class="modal fade modal-lg" role="dialog" tabindex="-1" >
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Trademarks image view</h4>
            </div>
            <div class="modal-body">


            <img id="trademarksFrame" src="">

            </div>
            <div class="modal-footer">


            </div>

        </div>
    </div>
</div>
<!-- end trademark image priview modal -->

    <!--trade mark office action preview modal -->
    <div id="action-preview-modal" class="modal fade modal-lg" role="dialog" tabindex="-1" >
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Action  view</h4>
                </div>
                <div class="modal-body">


                   <a href="">Response to Office Action</a>
                    The examining attorney is the person most familiar with your application and can answer specific questions about your office action. The examining attorney’s name and contact information are found at the end of your office action. Before you contact the examining attorney, read the office action carefully. If you can’t reach the examining attorney immediately, wait at least two business days for him or her to respond. If the attorney is out of the office, contact his or her supervisor. To find supervisor contact information, go to the trademark contact information webpage and find the senior attorney for your examining attorney’s particular law office. The law office number is listed in the examining attorney’s signature block at the end of the office action.


                </div>
                <div class="modal-footer">


                </div>

            </div>
        </div>
    </div>
    <!-- end trademark image priview modal -->

    <!--load model attribute for Jquery consumption  -->
    <script th:inline="javascript">

        /*<![CDATA[*/


        var tableRowIDs = /*[[${newFilingTableRow.myApplicationIDs}]]*/ 'User Name';
        var tableRowOwners = /*[[${newFilingTableRow.myApplicationOwners}]]*/ 'User Name';

        var tableRowStatuses = /*[[${newFilingTableRow.myApplicationStatues}]]*/ 'User Name';
        var tableRowTMnames = /*[[${newFilingTableRow.myApplicationTMname}]]*/ 'User Name';

        //alert(tableRows);

        /*]]>*/
    </script>

    <script>


    $(document).ready(function() {



        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('.content').fadeIn(500);

            // staggered fade in. parent container first, then child container
            setTimeout(function() {
                // after 1000 ms we add the class animated to the login/register card
                $('.base-page').fadeIn(500);
            }, 500);

            setTimeout(function() {
                // after 1000 ms we add the class animated to the login/register card
                $('.page-alert').fadeIn(1000);
            }, 5000);

        }, 500);

        //var json = JSON.parse("${newFilingTableRow}");
        //$.each(json, function (index, item) {
        //    alert(item);
            //alert(item.optA);
        //});











        var dataSet = [

            [ "2765315", "2345678", "Coca Cola", "Coca Cola Corp", "PUBLISHED FOR OPPOSITION", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/coca-cola-tm.jpg\">" ],
            [ "5076316", "5076316", "Apple", "Apple Inc", "REGISTERED", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/apple-tm-2.png\">" ],
            [ "3777456", "3777456", "Burberry Knight Horse", "Coach Lmt", "REGISTERED", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/burbery-tm-1.jpg\">" ],
            [ "4057745", "4057745", "BMW M Performance", "BMW LLC", "REGISTERED", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/BMW-tm.jpg\">" ],
            [ "4257646", "4257646", "Louis Vuitton", "Louis Vuitton LLC", "REGISTERED", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/louis-vuitton-tm.jpg\">" ],
            [ "3257648", "3257648", "Just Do It", "Phil Knight", "REGISTERED", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/nike-tm.jpg\">" ],
            [ "3003448", "3003448", "Jumpman", "Michale Jordan", "REGISTERED", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/nike-tm-2.jpg\">" ],
            [ "2001148", "2001148", "Polo", "Ralph Lauren Lmt", "REGISTERED", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/ralph-lauren-tm.png\">" ],
            [ "2901149", "2901149", "Polo Crest", "Ralph Lauren Lmt", "REGISTERED", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/ralph-lauren-tm-2.png\">" ],
            [ "4401142", "4401143", "Golden Arches", "McDonalds Corp", "REGISTERED", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/mcDonalds-tm.png\">" ],
            [ "4501142", "4501142", "Mermaid", "Starbucks Inc", "REGISTERED", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/starbucks-tm.jpg\">" ],
            [ "4501142", "4501142", "3 Stripes", "Addidas Inc", "REGISTERED", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/addidas-tm-1.jpg\">" ],
            [ "5507741", "5507741", "Sony Vaio", "Sony Corp", "REGISTERED", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/sony-tm-3.jpg\">" ],
            [ "5507646", "5507646", "Sony", "Sony Corp", "REGISTERED", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/sony-tm.jpg\">" ],
            [ "3407225", "3407225", "Tesla", "Tesla Inc", "REGISTERED", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/tesla-tm.jpg\">" ],
            [ "3477866", "3477866", "Tesla", "Tesla Inc", "REGISTERED", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/tesla-tm.jpg\">" ],
            [ "4455666", "4455666", "Jump SHOES", "antonio cirillo DBA gui.mar.lab", "Draft", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/jum.png\">" ],
            [ "2343555", "2343555", "Vakker", "Bao Kun", "REPORT COMPLETED SUSPENSION CHECK - CASE STILL SUSPENDED. ", "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/vakker.png\">" ]



            ];

        // generate data tables for filings
        var filingsTable = $('#filings-applications-table').DataTable( {
            data: dataSet,
            "dom": '<"top"f<"clear">>rt<"bottom"ip<"clear">>',
            columns: [
                { title: "Serial ID" },
                { title: "Registration ID" },
                { title: "Mark Text" },
                { title: "Owner" },
                { title: "Status" },
                { title: "Mark Image" }
            ]
        } );






        // load trademarks image url to modal
        $('#filings-applications-table').on('click', 'a.trademarks-view', function () {

            $('#trademarksFrame').prop('src',$(this).next().val() );
        });


        //alert(hrefVal);
        for(var a =0; a <tableRowIDs.length; a++) {

            var hrefVal = '<a href="/application/continueApplication/?trademarkID='+tableRowIDs[a]+'">'+tableRowTMnames[a]+'</a>';
            filingsTable.row.add(["", hrefVal, "N/A", tableRowOwners[a], tableRowStatuses[a], "<a href=\"#mark-preview-modal\" data-toggle=\"modal\" data-target=\"#mark-preview-modal\" class=\"btn btn-link btn-warning btn-just-icon edit trademarks-view\"><i class=\"material-icons\">dvr</i></a>\n" +
            "                                                <input style=\"display: none;\" value=\"../resources/data_images/vakker.png\">"]).draw();
            // make this jquery expression more generic

        }

    });

</script>

</body>
</html>