<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"  th:replace="~{fragments/layoutSession :: layout (~{::body},'dashboard')}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Owners/Members Directory</title>
</head>
<body>

<h1 style="color: whitesmoke" th:text="'User Profile'">welcome to pet clinic</h1>

<table class="table table-striped">
    <tr>
        <th >First Name</th>
        <th>Last Name</th>
        <th>Email</th>

    </tr>
    <tr>

        <td style="color: whitesmoke" th:text="${user.firstName}">Spring in Action</td>
        <td style="color: whitesmoke" th:text="${user.lastName}">Wrox</td>
        <td style="color: whitesmoke" th:text="${user.email}">123</td>

        <!--<td sec:authentication="email">[ROLE_USER, ROLE_ADMIN]</td>-->


    </tr>
</table>

</body>
</html>