<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/LynnFragment :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title></title>
</head>Mark Details
<body>
<div class="row content" style="display: block; position: relative; ">
    <main class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
        <!--START Content Div-->
        <div class="row" style="position: relative; top:-200px;">
            <div class="col-xs-12">

                <h1>Trademark Examples</h1>
                <!--START Trademark Examples-->
                <!--START Standard Character-->
                <div class="row" id="examples">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <h2 class="card-title weight600">Standard Character</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=87295796&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/standardcharacter_alt1.gif}" alt="The word Nike spelled out in standard, generic, unstylized letters and no graphics" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=87154851&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch " target="_blank"><img th:src="@{/resources/images/standardcharacter_alt2.gif}" alt="The words PK Prep spelled out in in standard, generic, unstylized letters and no graphics" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--END row-->
                </div><!--END col-->
                <!--START Stylized-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <h2 class="card-title weight600"><a id="stylized"></a>Stylized: Text in a particular style or font</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=87738471&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/stylized_alt1.gif}" alt="The word adidas spelled out in non-standard, unique, stylized letters and no graphics" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=73691508&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/stylized_alt2.gif}" alt="The word Coca-Cola spelled out in non-standard, unique, stylized letters and no graphics" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--END row-->
                </div><!--END col-->
                <!--START Design Only-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <h2 class="card-title weight600"><a id="designonly"></a>Design Only</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=87449967&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/designonly_alt1.gif}" alt="Graphic abstract drawing of an apple drawn in solid black on a white background" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=87578382&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/designonly_alt2.gif}" alt="Graphic drawing of three nondescript abstract geometric shapes drawn in solid black on a white background" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--END row-->
                </div><!--END col-->
                <!--START Design with Text-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <h2 class="card-title weight600"><a id="designwithtext"></a>Design with Text</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=88067139&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/designwithtext_alt1.gif}"alt="Black line drawing on a white background of an open shark mouth with the words Cape Shark in the center of the drawing spelled out in non-standard, unique, stylized letters" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=88022878&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/designwithtext_alt2.gif}" alt="Black line drawing on a white background of three nondescript abstract geometric shapes with the words Sleep2win underneath the drawing spelled out in non-standard, unique, stylized letters" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--END row-->
                </div><!--END col-->
                <!--START Configuration 3D-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <h2 class="card-title weight600"><a id="configuration3d"></a>Configuration 3D</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=87296014&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/configuration3d_alt1.gif}" alt="Group of four line drawings of an object in isometric views indicating four views of the object" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=87242376&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/configuration3d_alt2.gif}"alt="Group of two line drawings of an object in isometric views indicating two views of the object" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--END row-->
                </div><!--END col-->
                <!--START Configuration 3D with Text-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <h2 class="card-title weight600"><a id="configuration3dtext"></a>Configuration 3D with Text</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=85005314&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/configuration3dwithtext_alt1.jpg}"  alt="Three-dimensional multi-colored isometric graphic image of a cube with text on and around it" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=87553679+&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/configuration3dwithtext_alt2.gif}"  alt="Three-dimensional orange and black drawing of an object in isometric view" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--END row-->
                </div><!--END col-->
                <!--START Sound-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <h2 class="card-title weight600"><a id="sound"></a>Sound</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/documentviewer?caseId=sn87159936&docId=MRK20160902153523#docIndex=26&page=1" target="_blank"><img th:src="@{/resources/images/Example2_audio.jpg}"  alt="Multi-colored computer generated photographic image of sound beneath black graphic representation of sound" class="img-responsive"></a>
                                    </div>
                                    <audio controls class="col-xs-12">
                                        <source  th:src="@{/resources/images/87159936.mp3}"
                                        <p>Your browser does not support the audio tag.</p>
                                    </audio>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/documentviewer?caseId=sn87354077&docId=MRK20170301140358#docIndex=16&page=1" target="_blank"><img th:src="@{/resources/images/Example2_audio.jpg}" alt="Multi-colored computer generated photographic image of sound beneath black graphic representation of sound" class="img-responsive"></a>
                                    </div>
                                    <audio controls class="col-xs-12">
                                        <source  th:src="@{/resources/images/87159936.mp3}"  type="audio/mp3">
                                        <p>Your browser does not support the audio tag.</p>
                                    </audio>
                                </div>
                            </div>
                        </div>
                    </div><!--END row-->
                </div><!--END col-->
                <!--START Sound Composite-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <h2 class="card-title weight600"><a id="soundcomposite"></a>Sound Composite</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/documentviewer?caseId=sn86720594&docId=SPE20150811060521#docIndex=12&page=1 " target="_blank"><img th:src="@{/resources/images/soundcomposite_alt1.png}" alt="Five stages of consecutive motion indicating a progressive change in the appearance of a graphic shape and words" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/documentviewer?caseId=sn87376016&docId=MRK20170317180529#docIndex=15&page=1" target="_blank"><img th:src="@{/resources/images/soundcomposite_alt2.png}" alt="Five stages of consecutive motion indicating a progressive change in the appearance of a graphic shape and a word" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--END row-->
                </div><!--END col-->
                <!--START Scent Mark-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <h2 class="card-title weight600"><a id="scent"></a>Scent Mark</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=88011947&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/sensorymark.gif}" alt="The words Sensory Mark spelled out in standard, generic, unstylized letters and no graphics" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=88011947&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/nonvisualscentmark.gif}"  alt="The words Non-Visual 'Triple Sec' Scent Mark spelled out in standard, generic, unstylized letters and no graphics" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--END row-->
                </div><!--END col-->
                <!--START Tactile-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <h2 class="card-title weight600"><a id="tactile"></a>Tactile</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=87688236&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/tactile.gif}"  alt="Engineering drawing indicating four parts of a two-dimensional object broken into four sections" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=87711066&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/sensorytouch.gif}"alt="The words Sensory, touch mark spelled out in standard, generic, unstylized letters and no graphics" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--END row-->
                </div><!--END col-->
                <!--START Color Only-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <h2 class="card-title weight600"><a id="coloronly"></a>Color Only</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=75541599&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/coloronly_alt1.gif}" alt="Three-dimensional isometric view line drawing of a shopping bag with horizontal parallel lines drawn through the area to indicate placement of color" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=76408109&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/coloronly_alt2.gif}"alt="Obling capsule outlined in black dashed line with top half filled with dark blue, bottom half filled with light blue" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--END row-->
                </div><!--END col-->
                <!--START Motion-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <h2 class="card-title weight600"><a id="motion"></a>Motion</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=75883661&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/motiononly_alt1.gif}" alt="Four stages of motion indicated by solid line drawn areas of a car drawn in solid and dotted lines" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=76132238&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/motiononly_alt2.gif}" alt="Four bordered stages of motion indicating a progressive change in size of an outline drawing of a graphic shape and words" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--END row-->
                </div><!--END col-->
                <!--START Motion with Text-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <h2 class="card-title weight600"><a id="motionwithtext"></a>Motion with Text</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/documentviewer?caseId=sn86720594&docId=SPE20150811060521#docIndex=12&page=1 " target="_blank"><img th:src="@{/resources/images/motionwithtext_alt1.jpg}"  alt="Multi-colored oblong abstract shapes revolving concentrically around a white letter c at center" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/documentviewer?caseId=sn87376016&docId=MRK20170317180529#docIndex=15&page=1" target="_blank"><img th:src="@{/resources/images/motionwithtext_alt2.jpg}"  alt="Five stages of consecutive motion indicating a progressive change in the appearance of a graphic shape and a word" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--END row-->
                </div><!--END col-->
                <!--START Other: (Taste as an example)-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <h2 class="card-title weight600"><a id="other"></a>Other: (Taste as an example)</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12"><a href="http://tsdr.uspto.gov/#caseNumber=76467774&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank"><img th:src="@{/resources/images/other_alt1.gif}" alt="The words No Drawing Sensory Mark spelled out in in standard, generic, unstylized letters and no graphics" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--END row-->
                </div><!--END col-->
                <!--END examples row-->
            </div>
        </div>
        <!--END row-->

    </main>
</div><!--END div content-->


<script th:inline="javascript">

    /*<![CDATA[*/


    var anchorID = /*[[${anchorID}]]*/ 'User Name';

    //alert(anchorID);
    var host_name= /*[[${hostBean.host}]]*/ 'User Name';
    var host_port= /*[[${hostBean.port}]]*/ 'User Name';



    /*]]>*/
</script>

    <script>


    // next link url to enable  for u.s individual href="http://localhost:8080/application/owner/info"
    $(document).ready(function() {

            setTimeout(function () {
                // after 1000 ms we add the class animated to the login/register card
               // $('.content').fadeIn(500);
            }, 500);

           // var anchor = document.getElementById("motion");
            //alert("anchor id height: "+anchor);

            //anchor.scrollIntoView(true);

        $('#'+anchorID).focus();

        document.location.href="#"+anchorID;

        });
    </script>
    </body>
</html>