<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head >
    <meta charset="UTF-8">
    <title>Registration Home Page</title>
</head>
<body>

<div class="container">
    <form action="/newUser" th:object="${userCredentialsDTO}" method="POST" enctype="utf8" class="form-horizontal" role="form">

        <h1 style="text-align: center" class="panel-heading">Account Registration</h1>

        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
                <input th:field="*{firstName}" type="text" id="firstName" placeholder="First Name" class="form-control" autofocus>
                <p th:each="error: ${#fields.errors('firstName')}"
                   th:text="${error}">Validation error</p>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-9">
                <input th:field="*{lastName}" type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus>
                <p th:each="error : ${#fields.errors('lastName')}"
                   th:text="${error}">Validation error</p>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email* </label>
            <div class="col-sm-9">
                <input type="email" th:field="*{email}"  id="email" placeholder="Email" class="form-control" name= "email">
                <p th:each="error : ${#fields.errors('email')}"
                   th:text="${error}">Validation error</p>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password*</label>
            <div class="col-sm-9">
                <input type="password" th:field="*{password}" id="password" placeholder="Password" class="form-control">
                <p th:each="error : ${#fields.errors('password')}"
                   th:text="${error}">Validation error</p>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Confirm Password*</label>
            <div class="col-sm-9">
                <input type="password" th:field="*{matchingPassword}" id="password" placeholder="Password" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="phoneNumber" class="col-sm-3 control-label">Phone number </label>
            <div class="col-sm-9">
                <input type="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control">
                <span class="help-block">Your phone number won't be disclosed anywhere </span>
            </div>
        </div>



        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form> <!-- /form -->
    <a th:href="@{/templates/login.html}">login</a>
</div> <!-- ./container -->
</body>
</html>