<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/lynnFragmentNoSession :: layout (~{::body},'registration')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title>Registration Home Page</title>
</head>
<body>

<!-- End Navbar -->
<div class="content" style="display: none;" >
    <div class="container-fluid" >
        <div class="row content">
            <main class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
                <!--START Content Div-->
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Enter and Confirm New Password</h1>
                        <p class="required">Having trouble? </p>
                        <p class="required"><span class="weight600">&#42; = Required</span></p>
                        <form method="post" action="/recovery/updatePW" aria-labelledby="passwordetails" th:object="${userCredentialsDTO}" id="set-password">
                            <fieldset class="form-group form-group-md" aria-label="enter and confirm new password" id="newpsw">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-lg-4 form-group form-group-md">
                                        <label for="password">Password <span class="weight600">&#42;</span></label>
                                        <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password" th:field="*{password}" required>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-lg-4 form-group form-group-md">
                                        <label for="password-confirm">Confirm password<span class="weight600"> &#42;</span></label>
                                        <input type="password" class="form-control" placeholder="Enter Password Again" name="confirmpsw" id="password-confirm"  th:field="*{matchingPassword}" required>
                                    </div>

                                    <input type="hidden" id="email" name="email" th:field="*{email}" >
                                    <div class="col-xs-12 form-group form-group-md">
                                        <button type="submit" class="btn btn-md btn-primary">Submit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div><!--END Content Div-->
                </div>
            </main><!--MAIN-->
        </div><!--END container div-->



    </div>
</div>



<!-- Disclaimer Modal -->


<!-- end of disclaimer modal -->

<!--load model attribute for Jquery consumption  -->
<script th:inline="javascript">

    /*<![CDATA[*/



    var email = /*[[${email}]]*/ 'User Name';





    /*]]>*/
</script>

<script>
    $(document).ready(function() {
        //$('.content').hide();
        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('.content').fadeIn('slow');
        }, 600);
        //////////////////////////////////////////////////////////////
        // show tooltip
        //////////////////////////////////////////////////////////////
        $('[data-toggle="tooltip"]').tooltip();

        $('#email').val(email);


        var allowsubmit = false;

        //on keypress
        $('#password-confirm').keyup(function(e){
            //get values
            var pass = $('#password').val();
            var confpass = $(this).val();

            //check the strings
            if(pass == confpass){
                //if both are same remove the error and allow to submit
                $('.autoSaveMessageArea').text('');
                allowsubmit = true;
            }else{
                //if not matching show error and not allow to submit
                $('.autoSaveMessageArea').text('Password and Password confirm do not match.');
                allowsubmit = false;
            }
        });


        //jquery form submit
        $('#set-password').submit(function(){

            var pass = $('#password').val();
            var confpass = $('#password-confirm').val();

            //just to make sure once again during submit
            //if both are true then only allow submit
            if(pass == confpass){
                allowsubmit = true;
            }
            if(allowsubmit){
                return true;
            }else{
                return false;
            }
        });



    });
</script>

</body>
</html>